<div id="container">
    <div [hidden]="!hasDevices">


        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <b>Câmera</b>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <header>

                    <mat-form-field appearance="fill">
                        <select matNativeControl matInput>
                            <option value="" [selected]="!currentDevice">No Device Selected</option>
                            <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="
                              currentDevice && device.deviceId === currentDevice.deviceId" (click)="test(device)">
                                {{ device.label }}
                            </option>
                        </select>
                    </mat-form-field>

                </header>
            </mat-card-content>
            <!--
            <mat-card-actions>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>-->
        </mat-card>

        <mat-divider></mat-divider>
        <br />

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <b> Scanner:</b>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="leitor">
                    <zxing-scanner [torch]="torchEnabled" [(device)]="currentDevice"
                        (scanSuccess)="onCodeResult($event)" [formats]="formatsEnabled" [tryHarder]="tryHarder"
                        (permissionResponse)="onHasPermission($event)" (camerasFound)="onCamerasFound($event)"
                        (torchCompatible)="onTorchCompatible($event)"></zxing-scanner>

                </div>

            </mat-card-content>
        </mat-card>


        <mat-divider></mat-divider>
        <br />

        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <b> Código de Barras</b>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <section class="results">

                    <mat-form-field class="example-form-field">
                        <mat-label>Bar Code</mat-label>
                        <h1>
                            <input matInput type="text" [(ngModel)]="qrResultString">
                        </h1>
                    </mat-form-field>


                    <button class="btn btn-danger" (click)="clearResult()">
                        <mat-icon>clear</mat-icon>Limpar
                    </button>

                    <button class="btn btn-success" type="button" *ngIf="qrResultString" (click)="detalhesNcm()">
                        <mat-icon>visibility</mat-icon>Informações
                    </button>

                </section>

            </mat-card-content>
        </mat-card>

    </div>
</div>